.token {
  display: flex;
  justify-content: space-between;
  padding: 10px 0px;
}

.tokenInfo {
  display: flex;
  gap: 10px;
}

.tokenIcon {
  display: flex;
}

.tokenName {
  display: flex;
  flex-direction: column;
}

.tokenShortname {
  font-size: 17px;
  font-weight: 500;
}

.tokenFullname {
  font-size: 14px;
  color: #8e8e93;
  text-align: start;
}

.tokenValue {
  font-size: 16px;
}
